<h1>Director Details</h1>
<ul>
    <li><%= @elem.name%></li>
    <li><%= @elem.bio%></li>
    <li><%= @elem.dob%></li>
    <li><%= @elem.image_url%></li>
    <li>
        <a href="/delete_director/<%= @elem.id %>" class="btn btn-default btn-block">Delete director</a>
    </li>
    <li>
        <a href="/directors/<%= @elem.id %>/edit" class="btn btn-default btn-block">Edit director</a>
    </li>
</ul>